.postsWrapper{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 90vh;
  width: 80%;
  margin:20px auto 0;
  .post{
    border:1px solid rgba(0,0,0,.1);
    padding: 15px;
    margin:0 auto 15px;
    box-shadow: 0 6px 8px rgba(0,0,0,.1);
    width: 90%;
    position: relative;
    .postClose{
      position: absolute;
      top:5px;
      right: 5px;
      cursor: pointer;
      background-color: transparent;
      border:none;
    }
    .postTitle{
      margin:0 0 10px 0;
      a{
        text-decoration: none;
        color:#000;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}
